@import 'kube.css';

/* =Main & typography
-----------------------------------------------------------------------------*/
body {
	background: #fff;
	color: #000;
	font: 12px/1.5em Arial, "Helvetica Neue", Helvetica, Verdana, sans-serif;

	/*
	font-family: Arial, Helvetica, sans-serif;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-family: 'Bookman Old Style', serif;
    font-family: 'Comic Sans MS', cursive;
    font-family: Courier, monospace;
    font-family: 'Courier New', Courier, monospace;
    font-family: Garamond, serif;
    font-family: Georgia, serif;
    font-family: Impact, Charcoal, sans-serif;
    font-family: 'Lucida Console', Monaco, monospace;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    font-family: 'MS Serif', 'New York', sans-serif;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-family: Symbol, sans-serif;
    font-family: Tahoma, Geneva, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    font-family: Webdings, sans-serif;
    font-family: Wingdings, 'Zapf Dingbats', sans-serif;
    */
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
	line-height: 1;
	margin-bottom: .55em;
}

h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}

h4 {
	font-size: 1em;
	line-height: 1;
	margin-bottom: 0.5em;
	font-weight: bold;
}

h5 {
	font-size: 1em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

h6 {
	font-size: 1em;
	line-height: 1;
	margin-bottom: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}


/* =Links
-----------------------------------------------------------------------------*/
a:link, a:visited {
    color: #9c2226;
}

a:hover, a:active {
    color: #256c77;
}


/* =Layout
-----------------------------------------------------------------------------*/
html, body{
    height: 100%;
}

.wrapper {
	width: 100%;
	min-width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.header {
    height: 115px;
}

.content {
    padding: 0 0 110px;
}

.footer {
	margin: -110px auto 0;
	min-width: 960px;
	height: 110px; }


/* =Design
-----------------------------------------------------------------------------*/